@import "tailwindcss";
@plugin "daisyui";


/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";


@theme {
  /* custom colors :*/

  --color-margin: #333;
  --color-action: #333;
}


@layer components {
  .action-button {
    @apply px-2 py-1 text-sm text-action bg-slate-200 hover:text-slate-100 hover:bg-action cursor-pointer;
  }

  .grey-button {
    @apply w-1/4 sm:w-40 m-0 py-1 px-4 rounded-md shadow-inner hover:shadow-md text-center text-xs sm:text-base text-slate-800 bg-slate-100 hover:bg-slate-200 hover:transition-all cursor-pointer;
  }

  .red-button {
    @apply w-1/4 sm:w-40 m-0 py-1 px-4 rounded-md shadow-inner hover:shadow-md text-center text-xs sm:text-base text-slate-100 bg-red-500 hover:bg-red-600 hover:transition-all cursor-pointer;
    text-decoration: none !important;
  }

  .inputbox {
    @apply border focus:outline-none focus:bg-amber-50;
  }

  .prompt {
    @apply border focus:outline-none focus:border-2;
  }

  .response {
    @apply text-blue-800 font-bold;
  }




}